<div class="post-header-home">
    <h1 class="post-title-home">
        <a href="{{ .Site.BaseUrl }}{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    {{ partial "post-header-home.html" . }}
</div>
<div class="post-content">
    {{ .Content }}
</div>
