{{ partial "layout_begin.html" . }}
<div class="row">
  <div class="col-sm-8">
    <div class="post-header">
      <h1 class="post-title-main">{{ .Title }}</h1>
      {{ partial "post-header.html" . }}
    </div>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ partial "info-footer.html" . }}
    </div>
    {{ partial "post-prev-next.html" . }}
  </div>
  <div class="col-sm-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "layout_end.html" . }}
