<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  {{ partial "post-header-home.html" . }}
</div>
<div class="post-excerpt-home">
  {{ .Summary }}
  <p class="text-right"><a href="{{ .RelPermalink }}">Continue Reading &rarr;</a></p>
</div>
