<h3>
    Coach
</h3>

<p>
<div class="media">
    <img src="http://www.gravatar.com/avatar/{{ .Site.Params.gravatar_id }}?s=100" 
         alt="{{ .Site.Params.author_name }}" class="pull-left" />
    <div class="media-body">
        <h4 class="media-heading">{{ .Site.Params.author_name }}</h4>
        Phone/Text: 307-6989 <br/>Twitter: <a href="http://twitter.com/ekrcvolcanoes">@EKRCVolcanoes</a><br/>
    </div>
    <div class="clearfix"></div>

    <a class="twitter-timeline" href="https://twitter.com/EKRCVolcanoes" data-widget-id="711633944882581505">Tweets by @EKRCVolcanoes</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</p>

