{{ partial "layout_begin.html" . }}
<div class="row">
  <div class="col-sm-8">
    <div class="page-archive">
      {{ range .Site.Pages.ByDate.Reverse }}
        {{ if eq .Type "info" }}
          {{ $post_month_year := .Date.Format "January 2006" }}
          {{ if .PrevInSection }}
            {{ $newer_post_month_year := .PrevInSection.Date.Format "January 2006" }}
            {{ if not (eq $post_month_year $newer_post_month_year) }}
              <h3 class="section-header-archive">
                {{ $post_month_year }}
              </h3>
            {{ end }}
          {{ else }}
            <h3 class="section-header-archive">
              {{ $post_month_year }}
            </h3>
          {{ end }}
          <p>
            <a href="{{ .RelPermalink }}" class="post-title-archive">{{ .Title }}</a>
            <small class="text-muted">{{ .Date.Format "Jan 2, 2006" }}</small>
          </p>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="col-sm-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "layout_end.html" . }}
